@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: aqua;
}

#quote-box {
  padding: 3em;
  width: 38rem;
  /* height: 14em; */
}

#text {
  font-weight: bold;
}

#author {
  text-align: end;
}

#botones {
  display: flex;
  justify-content: space-between;
}

/* .boton {
  background: aqua;
} */
